<!DOCTYPE html>
<html>
  <head>
    <title>답변 금지 학생 목록</title>
  </head>
  <body>
    <h1>답변 금지 학생 목록</h1>
    <form method="post">
      {% csrf_token %}
      <label for="student_name">학생 이름,ID:</label>
      <input type="text" id="student_name_and_id" name="student_name_and_id" required>

      <button type="submit">학생 추가하기</button>
    </form>
    <ul>
      {% for element in elements %}
        <li>{{ element.student_name_and_id }}</li>
      {% endfor %}
    </ul>
    <button><a href='{% url 'qa_automate:init' %}'>처음 페이지로 이동하기</a></button>

  </body>
</html>