<!DOCTYPE html>
<html>
<head>
    <title>교재 목록</title>
</head>
<body>
    <h1>책 추가하기</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="title">교재명:</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="책 추가하기">
    </form>

    <h1>교재 목록</h1>
    {% if books %}
        <table>
            <thead>
                <tr>
                    <th>교재 제목</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td><button><a href="{% url 'qa_automate:calender' book_title=book.title %}">달력으로 가기</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>책이 없습니다</p>
    {% endif %}
    <button><a href='{% url 'qa_automate:init' %}'>처음 페이지로 이동하기</a></button>
</body>
</html>
