<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>교재명: {{ book.title }}</h1>

    <form method="POST">
      {% csrf_token %}
      <label for="startdate">조사 시작 날짜:</label>
      <input type="date" id="startdate" name="startdate">

      <label for="enddate">조사 끝 날짜:</label>
      <input type="date" id="enddate" name="enddate">

      <button type="submit" id="search">조사하기</button>
    </form>

    <button><a href="{% url 'qa_automate:searched' book_title=book.title %}">조사된 질문 보러가기</a></button>

    {% for date in date_checks %}
        <p>{{ date }}</p>
    {% endfor %}
  </body>
</html>
