<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
  <div class="container">
    <button><a href='{% url 'qa_automate:init' %}'>처음 페이지로 이동하기</a></button>
    <h1>강좌명: {{ lecture }}</h1>
    <form method="POST">
      {% csrf_token %}
      <label for="startdate">조사 시작 날짜:</label>
      <input type="date" id="startdate" name="startdate">

      <label for="enddate">조사 끝 날짜:</label>
      <input type="date" id="enddate" name="enddate">

      <button type="submit" id="search">조사하기</button>
    </form>

    <button><a href="{% url 'qa_automate:searched' book_title=book.title %}">조사된 질문 보러가기</a></button>

    {% for date in searched_dates %}
    <p>{{ date.date }}</p>
    {% endfor %}
  </div>
</body>

</html>