<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker.css' %}">
  </head>
  <body>
    <div class='rap'>
      <div class="header">
        <div class="btn prevDay"></div>
        <h2 class='dateTitle'></h2>
        <div class="btn nextDay"></div>
      </div>

      <div class="booklist">
        <form method="POST">
          {% csrf_token %}
          <label for="booktitle">Select a book:</label>
          <select id="booktitle" name="booktitle">
            <option value="">--Select a book--</option>
            {% for book in books %}
              <option value="{{ book.title }}">{{ book.title }}</option>
            {% endfor %}
          </select>

          <button type="submit" id="submit">Submit</button>
        </form>
      </div>
      
      <div class="grid dateHead">
        <div>일</div>
        <div>월</div>
        <div>화</div>
        <div>수</div>
        <div>목</div>
        <div>금</div>
        <div>토</div>
      </div>
  
      <div class="grid dateBoard"></div>

      <form method="POST">
        {% csrf_token %}
        <label for="startdate">Start Date:</label>
        <input type="date" id="startdate" name="startdate">

        <label for="enddate">End Date:</label>
        <input type="date" id="enddate" name="enddate">

        <button type="submit" id="search">Search</button>
      </form>
    </div>

    </div>
    <script>
      const makeCalendar = (date) => {
        const currentYear = new Date(date).getFullYear();
        const currentMonth = new Date(date).getMonth() + 1;

        const firstDay = new Date(date.setDate(1)).getDay();
        const lastDay = new Date(currentYear, currentMonth, 0).getDate();

        const limitDay = firstDay + lastDay;
        const nextDay = Math.ceil(limitDay / 7) * 7;

        let htmlDummy = '';

        for (let i = 0; i < firstDay; i++) {
          htmlDummy += `<div class="noColor"></div>`;
        }

        for (let i = 1; i <= lastDay; i++) {    
          htmlDummy += `<div>${i}</div>`;
        }

        for (let i = limitDay; i < nextDay; i++) {
          htmlDummy += `<div class="noColor"></div>`;
        }

        document.querySelector(`.dateBoard`).innerHTML = htmlDummy;
        document.querySelector(`.dateTitle`).innerText = `${currentYear}년 ${currentMonth}월`;
      }


      const date = new Date();

      makeCalendar(date);

      // 이전달 이동
      document.querySelector(`.prevDay`).onclick = () => {
      makeCalendar(new Date(date.setMonth(date.getMonth() - 1)));
      }

      // 다음달 이동
      document.querySelector(`.nextDay`).onclick = () => {
      makeCalendar(new Date(date.setMonth(date.getMonth() + 1)));
      }
    </script>>
  </body>
</html>
