<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Extract Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <button><a href='{% url 'qa_automate:init' %}'>처음 페이지로 이동하기</a></button>
        <form method='POST'>{% csrf_token %}
            <button type="submit" id="search" name='extractquestions'>답변 추출하기</button>
        </form>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    {% for question in questions %}
                    <td>
                        <table class="qa-container" width="450">
                            <tr class="qa-actions" height="25">
                                <td width="100%">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="question_id" value="{{ question.id }}">
                                        <button type="submit" name="deletequestion"
                                            onclick="deleteQuestion(this)">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="qa-info" height="100">
                                <td width="100%">
                                    <p><strong>교재명:</strong> {{ question.book.title }}</p>
                                    <p><strong>페이지 번호:</strong> {{ question.page }}</p>
                                    <p><strong>질문 번호:</strong> {{ question.number }}</p>
                                    <p><strong>Theme:</strong> {{ question.theme }}</p>
                                </td>
                            </tr>
                            <tr class="question-container">
                                <td width="100%" style="padding: 1rem; margin-bottom: 1rem;">
                                    <p>{{ question.question|linebreaksbr }}</p>
                                </td>
                            </tr>
                            <tr class="answer-container">
                                <td width="100%" style="padding: 1rem; margin-bottom: 1rem;">
                                    <p>{{ question.answer|linebreaksbr }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <form method='POST'>{% csrf_token %}
            <button type="submit" id="submit" name='answerquestions'>일괄 답변하기</button>
        </form>
        <script>
            function deleteQuestion(button) {
                const qaContainer = button.closest('.qa-container');
                qaContainer.parentNode.removeChild(qaContainer);
            }
        </script>
    </div>
</body>

</html>
