<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker.css' %}">
	<title>Extract Page</title>
</head>
<body>
	<form method = 'POST'>{% csrf_token %}<button type="submit" id="search", name = 'extractquestions'>답변 추출하기</button></form>
	<table>
		<thead>
		  <tr>
			<th>Question and Answer</th>
		  </tr>
		</thead>
		<tbody>
		  {% for question in questions %}
			<tr>
			  <td>
				<div class="qa-container">
				  <div class="question-container">
					<p>{{ question.question }}</p>
				  </div>
				  <div class="answer-container">
					<p>{{ question.answer }}</p>
				  </div>
				  <div class="qa-actions">
					<button onclick="deleteQuestion(this)">Delete</button>
				  </div>
				  <div class="qa-info">
					<p><strong>Book:</strong> {{ question.book }}</p>
					<p><strong>Page:</strong> {{ question.page }}</p>
					<p><strong>Question Number:</strong> {{ question.number }}</p>
					<p><strong>Theme:</strong> {{ question.theme }}</p>
				  </div>
				</div>
			  </td>
			</tr>
		  {% endfor %}
		</tbody>
	  </table>
	  
	  <script>
		function deleteQuestion(button) {
		  const row = button.parentNode.parentNode.parentNode;
		  row.parentNode.removeChild(row);
		}
	  </script>
	  
</body>
</html>
