<!DOCTYPE html>
<html>
<head>
	<title>FAQ List</title>
</head>
<body>
	<form method="get">
		<label for="book">교재:</label>
		<select id="book" name="book">
			<option value="">전체 교재</option>
			{% for book in books %}
            <option value="{{ book }}">{{ book }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="검색">
	</form>
    
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <h2>예상 답변 없는 질문 목록</h2>
                    <table>
                        <thead>
                            <tr>
                                <th width = "350">교재명</th>
                                <th width = "75">페이지</th>
                                <th width = "75">Theme</th>
                                <th width = "75">질문 번호</th>
                                <th width = "75">Count</th>
                                <th width = "200">예상 답변 페이지 가기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in unanswerable_questions %}
                            <tr>
                                <td>{{ question.book.title }}</td>
                                <td>{{ question.page }}</td>
                                <td>{{ question.theme }}</td>
                                <td>{{ question.number }}</td>
                                <td>{{ question.count }}</td>
                                <td><a href="{% url 'qa_automate:estimated_answer' question.book.title question.page question.theme question.number %}">예상 답변 보러 가기</a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td valign="top">
                    <h2>예상 답변 있는 질문 목록</h2>
                    <table>
                        <thead>
                            <tr>
                                <th width = "350">교재명</th>
                                <th width = "75">페이지</th>
                                <th width = "75">Theme</th>
                                <th width = "75">질문 번호</th>
                                <th width = "75">Count</th>
                                <th width = "200">예상 답변 페이지 가기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in answerable_questions %}
                            <tr>
                                <td>{{ question.book.title }}</td>
                                <td>{{ question.page }}</td>
                                <td>{{ question.theme }}</td>
                                <td>{{ question.number }}</td>
                                <td>{{ question.count }}</td>
                                <td><a href="{% url 'qa_automate:estimated_answer' question.book.title question.page question.theme question.number %}">예상 답변 보러 가기</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
