<!DOCTYPE html>
<html>
<head>
	<title>FAQ List</title>
</head>
<body>
	<form method="get">
		<label for="book">교재:</label>
		<select id="book" name="book">
			<option value="">전체 교재</option>
			{% for book in books %}
            <option value="{{ book }}">{{ book }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="검색">
	</form>
    
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <h2>예상 답변 없는 질문 목록</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>Page Number</th>
                                <th>Theme</th>
                                <th>Question Number</th>
                                <th>Count</th>
                                <th>Link to Estimated Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in unanswerable_questions %}
                            <tr>
                                <td>{{ question.book.title }}</td>
                                <td>{{ question.page }}</td>
                                <td>{{ question.theme }}</td>
                                <td>{{ question.number }}</td>
                                <td>{{ question.count }}</td>
                                <td><a href="{% url 'estimated_answer' question.book.title question.page question.theme question.number %}">{{ question.book.title }}/{{ question.page }}/{{ question.number }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td valign="top">
                    <h2>예상 답변 있는 질문 목록</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>Page Number</th>
                                <th>Theme</th>
                                <th>Question Number</th>
                                <th>Answer</th>
                                <th>Link to Estimated Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in answerable_questions %}
                            <tr>
                                <td>{{ question.book.title }}</td>
                                <td>{{ question.page }}</td>
                                <td>{{ question.theme }}</td>
                                <td>{{ question.number }}</td>
                                <td>{{ question.answer }}</td>
                                <td><a href="{% url 'estimated_answer' question.book.title question.page question.theme question.number %}">{{ question.book.title }}/{{ question.page }}/{{ question.number }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
