<!DOCTYPE html>
<html>
<head>
    <title>조사된 질문 목록</title>
</head>
<body>

    <h1>교재명: {{book}}</h1>
    <table>
        <thead>
            <tr>
                <th>고유번호</th>
                <th>페이지</th>
                <th>Theme</th>
                <th>질문번호</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.question_id }}</td>
                    <td>{{ question.page }}</td>
                    <td>{{ question.theme}}</td>
                    <td>{{ question.number }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
