<table>
    <tr>
      <th colspan="12">조사된 날짜</th>
    </tr>
    <tr>
      <td>1월</td>
      <td>2월</td>
      <td>3월</td>
      <td>4월</td>
      <td>5월</td>
      <td>6월</td>
      <td>7월</td>
      <td>8월</td>
      <td>9월</td>
      <td>10월</td>
      <td>11월</td>
      <td>12월</td>
    </tr>
    {% for year in searched_years %}
      <tr>
        <td colspan="12">{{ year }}</td>
      </tr>
      <tr>
        {% for month in range(1, 13) %}
          {% if year|date("Y") in searched_dates|date("Y") and month|stringformat:"02d" in searched_dates|date("m") %}
            <td colspan="2">
              {% for date in dates %}
                {% if date.date|date("Y") == year and date.date|date("m") == month|stringformat:"02d" %}
                  <div>{{ date.date|date("d") }}</div>
                {% endif %}
              {% endfor %}
            </td>
          {% else %}
            <td colspan="2"></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>


-----------------


<div class='rap'>
  <div class="header">
    <div class="btn prevDay"></div>
    <h2 class='dateTitle'></h2>
    <div class="btn nextDay"></div>
  </div>
  
  <div class="grid dateHead">
    <div>일</div>
    <div>월</div>
    <div>화</div>
    <div>수</div>
    <div>목</div>
    <div>금</div>
    <div>토</div>
  </div>

  <div class="grid dateBoard"></div>


</div>
<script>
  const makeCalendar = (date) => {
    const currentYear = new Date(date).getFullYear();
    const currentMonth = new Date(date).getMonth() + 1;

    const firstDay = new Date(date.setDate(1)).getDay();
    const lastDay = new Date(currentYear, currentMonth, 0).getDate();

    const limitDay = firstDay + lastDay;
    const nextDay = Math.ceil(limitDay / 7) * 7;

    let htmlDummy = '';

    for (let i = 0; i < firstDay; i++) {
      htmlDummy += `<div class="noColor"></div>`;
    }

    for (let i = 1; i <= lastDay; i++) {
      // Add padding zeros to month and date
      let month = currentMonth.toString().padStart(2, '0');
      let date = i.toString().padStart(2, '0');
      let id = `${currentYear}-${month}-${date}`;

      let searchedDiv = '';

      /*{% for date in dates %}
        {% if date.date == id %}
          searchedDiv = "<div class='searched'>조사함</div>";
        {% endif %}
      {% endfor %}*/

      htmlDummy += `<div id='${id}'>${i}${searchedDiv}</div>`;
    }





    for (let i = limitDay; i < nextDay; i++) {
      htmlDummy += `<div class="noColor"></div>`;
    }

    document.querySelector(`.dateBoard`).innerHTML = htmlDummy;
    document.querySelector(`.dateTitle`).innerText = `${currentYear}년 ${currentMonth}월`;
  }


  const date = new Date();

  makeCalendar(date);

  // 이전달 이동
  document.querySelector(`.prevDay`).onclick = () => {
  makeCalendar(new Date(date.setMonth(date.getMonth() - 1)));
  }

  // 다음달 이동
  document.querySelector(`.nextDay`).onclick = () => {
  makeCalendar(new Date(date.setMonth(date.getMonth() + 1)));
  }




</script>


