<table>
    <tr>
      <th colspan="12">조사된 날짜</th>
    </tr>
    <tr>
      <td>1월</td>
      <td>2월</td>
      <td>3월</td>
      <td>4월</td>
      <td>5월</td>
      <td>6월</td>
      <td>7월</td>
      <td>8월</td>
      <td>9월</td>
      <td>10월</td>
      <td>11월</td>
      <td>12월</td>
    </tr>
    {% for year in searched_years %}
      <tr>
        <td colspan="12">{{ year }}</td>
      </tr>
      <tr>
        {% for month in range(1, 13) %}
          {% if year|date("Y") in searched_dates|date("Y") and month|stringformat:"02d" in searched_dates|date("m") %}
            <td colspan="2">
              {% for date in dates %}
                {% if date.date|date("Y") == year and date.date|date("m") == month|stringformat:"02d" %}
                  <div>{{ date.date|date("d") }}</div>
                {% endif %}
              {% endfor %}
            </td>
          {% else %}
            <td colspan="2"></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>